nav {
  display:flex;
}

body{
  background-color: black;
}


article {
  margin-top: 25px;
}

.about {
  margin-top: 25px;
}

.form {
  margin-top: 9%;
}
.discos {
  margin-top: 4%;
}

.navbar-expand-lg .navbar-collapse {
  background-color: #05ff05;
  opacity: 70%;
  border-radius: 9px;
  padding-left: 46%;
}

#videos{
  margin-left: 6%;
  margin-top: 5%;
}

/* nav.bg-light {
  background-color: black;
} */

nav div ul{
  margin: 0;
  
}

li a img{
  margin: 60%;
  border-radius: 350px;
}

footer {
  margin: 60px;
}

.about {
  color: aliceblue;
}
.descri {
  text-align: center;
}

.footer {
  font-size: 15px;
  color: aliceblue;
  margin-top: 0.2%;
  margin-left: 75%;
}

img.perfil{
  margin-top: 45px;
  width: 15%;
  border-radius: 350px;
}


a.tituloLink{
  font-size: 20px;
  padding-bottom: 6px;
  padding-left: 6px;
  padding-right: 6px;
  /* margin: 10px; */
  background-color: aliceblue;
  
}

a.tituloLink img{
  width: 90px;
}

.mixcloud{
  margin-top: 20px;
  
}

img.perfil2{
  margin-top: 45px;
  margin-bottom: 45px;
  width: 15%;
  border-radius: 350px;
} 

#discografia {
  margin: 10%;
}

img.logo{
  width: 20px;
  margin-top: 19%;
}

.resonance {
 margin-top: 5px;
} 

.resonance:first-child {
  margin-top: 20px;
}

img.logoFacebook{
  width: 15px;
  margin-top: 19%;
}

.audio{
  color: aliceblue;
}

img.logoMixcloud{
  width: 20px;
  margin: 0;
}

.h5{
  color: aliceblue;
}
